<!-- pages/templates/pages/home.html -->

{% extends "base.html" %}

{% block page_content %}
<h1 style="text-align:center;">Mon Portfolio</h1>
<h2 style="color:powderblue">Introduction :</h2>
    <h4 style="border:2px solid powderblue;">Bonjour, je suis Ahmed Racim Foura, un jeun étudiant passioné de maths et de programmation.<br> 
    J'ai moi même créé ce Portfolio afin de garder une trace des projets dans les quels je me suis lancé et de ceux que je vais entreprendre dans le future.
    </h4>

<h2 style="color:Green">Projets</h2>
<h4 style="border:2px solid Green;">Vous trouverz <a href="http://localhost:8000/projects">Ici</a> la liste des prjets que j'ai codé.
</h4>

<h2 style="color:red">Code Source</h2>
    <h4 style="border:2px solid red;">Le code source de mon site ce trouve sur github à l'adresse suivante :<br> <a href="https://github.com/Racim230/Mon-Portfolio" target="_blank">Code Source</a> .     
    </h4>

{% endblock page_content %}